body {
	font-family: 'Gamja Flower', cursive; /* 預設整個頁面使用 Gamja Flower */
	text-align: center;
	padding: 20px;
}

.header {
	font-family: 'Itim', cursive; /* 標題區域使用 Itim */
}

.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	width: 300px;
	height: 200px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aaa;
	font-size: 16px;
}

.drop-zone.dragover {
	border-color: #000;
	background-color: #f0f0f0;
	color: #333;
}

.preview {
	font-family: 'Gamja Flower', cursive; /* 預覽區域仍然使用 Gamja Flower */
	margin-top: 20px;
	font-size: 30px;
}

.preview img {
	// min-width: 100%;
	max-width: 100%;
	max-height: 400px;
	margin: 10px auto;
	display: block;
}