body {
	font-family: 'Gamja Flower', cursive; /* 預設整個頁面使用 Gamja Flower */
	text-align: center;
	padding: 10px;
}

.header {
	font-family: 'Itim', cursive; /* 標題區域使用 Itim */
	font-size: clamp(30px, 4.3vw, 50px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.sub_title {
	font-family: 'Itim', cursive; /* 標題區域使用 Itim */
	font-size: clamp(10px, 1.5vw, 15px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.drop-zone {
	border: 2px dashed #ccc;
	border-radius: 10px;
	width: clamp(300px, 50%, 600px); /* 最小200px，最大300px，預設50% */
    height: clamp(200px, 30vw, 400px); /* 高度根據視窗寬度動態調整 */
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aaa;
	font-size: clamp(26px, 2.7vw, 40px);
}

.drop-zone.dragover {
	border-color: #000;
	background-color: #f0f0f0;
	color: #333;
}

.button_image_upload {
	padding: 0px 10px;
	border: 4px outset #999;
	border-radius: 10px;
	width: fit-content;
	height: fit-content;
	margin: 5px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #444;
	background-color: #CCC;
	font-size: clamp(26px, 2.7vw, 40px);
}

.button_image_upload:hover {
	color: #888;
	background-color: #DDD;
	border-color: #BBB;
}

.button_image_upload:active {
	color: #AAA;
	background-color: #EEE;
	border-color: #EEE;
	transform: scale(0.98); /* 按下时缩小 */
}

.upload_success_text {
	font-family: 'Gamja Flower', cursive;
	margin-top: 20px;
	font-size: clamp(30px, 3vw, 50px);
}

.preview {
	font-family: 'Gamja Flower', cursive; /* 預覽區域仍然使用 Gamja Flower */
	margin-top: 50px;
	font-size: clamp(30px, 3vw, 50px);
}

.preview img {
	max-width: 300px;
	margin: 10px auto;
	display: block;
}